{% extends 'base.html' %}

{% block title %}Manage Accounts{% endblock %}

{% block content %}
<h1>Manage Accounts</h1>

{% if users %}
    <ul>
        {% comment %} add a form whose elements are users details I should be able to delete a user here {% endcomment %}
        <form method="POST" action="{% url 'accounts:index' %}">
            {% csrf_token %}
            {% for account in users %}
                <li>
                    {{ account.username }} - {{ account.email }}
                    <input type="hidden" name="user_id" value="{{ account.id }}">
                    <button type="submit">Delete</button>
                </li>
            {% endfor %}
        </form>
    </ul>
{% else %}
    <p>No accounts found.</p>
{% endif %}
{% endblock %}